.DashbaordProfile h5 {
    color: rgb(228, 224, 224);
    font-size: 1.2rem;
}

.DashbaordProfile p {
    color: rgba(212, 212, 212, 0.562);
    font-size: 0.9rem;
}

.DashboardSummaryCount {
    width: 100%;
    height: 100px;
    border-radius: 2px;
    background: #FFF;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.DashboardSummaryCount .SideCardcolor {
    width: 5px !important;
    height: 100%;
}

.DashboardSummaryCount img {
    height: 30px;
}

.DashboardSummaryCount h3 {
    color: #0B3333;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.DashboardSummaryCount p {
    color: #A49E9E;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.DashbaordContainerTop {
    width: 100%;
    border-radius: 5px;
    background: #FFF;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: 300px;
    margin-top: 10px;
}

.DashbaordContainerTop h4 {
    color: #0B3333;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 20px;
}

.DashboardGraphContainer {
    width: 100%;
    height: 230px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.DashboardGraphContainer h4 {
    color: #0B3333;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 20px;
}