.border-bottom-d1d1d1 {
    border-bottom: 2px solid rgba(255, 255, 255, 0.20);
}

.sidebaar {
    background: #0B3333 !important;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    min-height: 100vh !important;
    z-index: 100;
    padding: 20px 0 0;
}

.side-menu-item {
    color: #ffffff !important;
    font-size: 16px !important;
    padding: 8px 16px;
    width: 100%;
    text-decoration: none;
    border-radius: 4px;
    margin-bottom: 20px;
    display: block;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.side-menu-item:hover,
.side-menu-active {
    color: #6FFFA8 !important;
    border-radius: 3px;
    background: rgba(93, 117, 103, 0.59);
}

.mt-2px {
    margin-top: 2px !important;
}

.cursor-pointer {
    cursor: pointer;
}

.trans {
    transition: width 100ms cubic-bezier(0.4, 0, 0.6, 1) 0ms, margin 200ms cubic-bezier(0.4, 0, 0.6, 1) 0ms
}

.trans-1 {
    transition: 1000ms
}

.close-btn-container {
    color: white;
    display: flex;
    margin-top: -10px;
}

.rotate-180 {
    transform: rotate(180deg);
}