.Signin {
  background-image: url("../assets/694.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  z-index: 1000;
}

.SignIn-Container {
  background: #FFF !important;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.SignIn-Container h2 {
  color: #0B3333;
  font-weight: 700;
  font-size: 2em;
  text-transform: uppercase;
}

.Signin nav {
  background: transparent;
}

.Signin .heading {
  font-weight: 700;
  color: #198754;
}

.Loader-Image {
  background-color: #0B3333;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  width: 100%;
}

.Loader-Image img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3000;
}

.Loader-loader {
  opacity: 0.05;
  z-index: 1;
}

.Home-Content {
  width: 100vw;
  height: 100vh;
  background-image: url("../assets/Home-Back.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.down-arrroww {
  height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.down-arrroww {
  animation: bounce 1s infinite;
}


@keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-20px);
  }

  60% {
    transform: translateY(-10px);
  }
}