body {
  background-color: #F6F6F6 !important;
  overflow-x: hidden;
  color: black;
}

.btn-secondary{
  color: #1c7a24 !important;
  background-color: #e3f7e5 !important;
  border:none !important;
  box-shadow:  0 4px 9px -4px #e3ebf7 !important;
  width: 100px !important;
  text-align: center !important;
  justify-content: center;
  align-items: center;
  font-weight: 500 !important;
}

.btn-secondary:hover{
  background-color: #d8dfeb !important;
}

.btn-success{
  border:none !important;
  box-shadow:  0 4px 9px -4px #e3ebf7 !important;
}

.btn-danger{
  background-color: #5f0000 !important;
  border:none !important;
  box-shadow:  0 4px 9px -4px #e3ebf7 !important;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
  background-color: rgb(236, 255, 237);
}

nav{
  background-color: #103434;
}

.confirmmodal-Back {
  background-color: rgba(0, 0, 0, .5);
  z-index: 99999;
}

.test{
  background-color: green;
  height: 100%;
}

.test2{
background-color: red;
height: 100%;
}

thead,tbody{
  align-items: center;
  justify-content: center;
  text-align: center;
}

.Modal-Title{
  text-transform: uppercase;
  font-weight: 700 !important;
  color: #103434 !important;
}

.Modal-Title-Confirm{
  text-transform: uppercase;
  font-weight: 700 !important;
}

.Modal-Body-Confirm p{
   font-weight: 600;
}

.search-input-container {
  position: relative;
}

.SearchBox {
  width: 300px;
  padding-left: 5px;
  border-radius: 5px;
  background: #ffffff;
  height: 35px;
  border: 1px solid #ccc;
  outline: none;
  transition: border-color 0.2s ease-in-out;
}

.search-icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #555;
  cursor: pointer;
}

.search-icon:hover {
  color: #05004b;
}

.SearchBox:hover {
  border-color: #007bff;
}








