body {
  background-color: #F6F6F6 !important;
  overflow-x: hidden;
  color: black;
}
.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
  background-color: rgb(206, 242, 209);
}
nav, .modal-body{
  background-color: #103434;
}
.border-bottom-d1d1d1 {
  border-bottom: 2px solid rgba(255, 255, 255, 0.20);
}

.sidebaar {
  background: #0B3333 !important;
  box-shadow: 2px 10px 15px 0px rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  min-height: 100vh !important;
  z-index: 100;
  padding: 20px 0 0;
}

.side-menu-item {
  color: #ffffff !important;
  font-size: 16px !important;
  padding: 8px 16px;
  width: 100%;
  text-decoration: none;
  border-radius: 4px;
  margin-bottom: 20px;
  display: block;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.side-menu-item:hover,
.side-menu-active {
  color: #6FFFA8 !important;
  border-radius: 3px;
  background: rgba(93, 117, 103, 0.59);
}

.mt-2px {
  margin-top: 2px !important;
}

.cursor-pointer {
  cursor: pointer;
}

.trans {
  transition: width 100ms cubic-bezier(0.4, 0, 0.6, 1) 0ms, margin 200ms cubic-bezier(0.4, 0, 0.6, 1) 0ms
}

.trans-1 {
  transition: 1000ms
}
.close-btn-container{
  color: white;
  display: flex;
  margin-top: -10px;
}
.rotate-180 {
  transform: rotate(180deg);
}

/* ---------------------------------------------------------------------------------------------------------------------------- */

.DashbaordProfile h5 {
  color: rgb(228, 224, 224);
  font-size: 1.2rem;
}

.DashbaordProfile p {
  color: rgba(212, 212, 212, 0.562);
  font-size: 0.9rem;
}

.DashboardSummaryCount {
  width: 100%;
  height: 100px;
  border-radius: 2px;
  background: #FFF;
  box-shadow: 6px 9px 43.5px 0px rgba(0, 0, 0, 0.25);
}

.DashboardSummaryCount .SideCardcolor {
  width: 5px !important;
  height: 100%;
}

.DashboardSummaryCount img {
  height: 30px;
}

.DashboardSummaryCount h3 {
  color: #0B3333;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.DashboardSummaryCount p {
  color: #A49E9E;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.DashbaordContainerTop {
  width: 100%;
  border-radius: 5px;
  background: #FFF;
  box-shadow: 6px 9px 43.5px 0px rgba(0, 0, 0, 0.25);
  height: 300px;
  margin-top: 10px;
}

.DashbaordContainerTop h4 {
  color: #0B3333;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 20px;
}

.DashboardGraphContainer {
  width: 100%;
  height: 230px;
  border-radius: 5px;
  background: #FFF;
  box-shadow: 6px 9px 43.5px 0px rgba(0, 0, 0, 0.25);
}

.DashboardGraphContainer h4 {
  color: #0B3333;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-left: 20px;
}

 /* ----------------------------------------------------------------------------------------------------------------------------  */

 .SignInBody{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1004%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/rect%3e%3cpath d='M292.56 586.09C407.83 585.21 515.78 472.79 739.53 472.78 963.27 472.77 963.01 542.78 1186.49 542.78 1409.98 542.78 1520.36 472.99 1633.46 472.78' stroke='rgba(0%2c 87%2c 15%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M700.99 663.34C824.32 593.67 758.22 179.74 987.58 174.57 1216.94 169.4 1411.45 340.85 1560.77 342.57' stroke='rgba(0%2c 87%2c 15%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M163.51 623.4C361.6 598 475.87 147.04 803.57 145.38 1131.26 143.72 1276.29 339.2 1443.62 341.38' stroke='rgba(0%2c 87%2c 15%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M542.98 649.19C694.76 647.14 813.05 476.37 1122.87 469.17 1432.69 461.97 1544.23 217.28 1702.76 211.57' stroke='rgba(0%2c 87%2c 15%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M684.01 649.61C803.97 606.86 759.94 250.56 1000 250.07 1240.07 249.58 1462.46 492.16 1631.99 496.47' stroke='rgba(0%2c 87%2c 15%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1004'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: cover;
 }

 .SignIn-heading { 
  font-size: 2rem;
  color: #198754;
}